<section class="pt-2 paddingBottom-50 bg-light-v2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mt-4">
      <div class="card">
        <div class="card-body">
         <h2 class="my-2">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Appel à candidature
         </h2>
         <h4>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Inscription en Mastère professionnel co-construit en MGCT<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          « Gouvernance et Communication Territoriales »
         </h4>
         <p>
          L’Institut Supérieur des Etudes Technologiques de Djerba lance un appel à candidature pour l’inscription en Mastère Professionnel MGCT
          « Gouvernance et Communication Territoriales » au titre de l’année universitaire 2019-2020.
         </p>
         <h4>Publics visés</h4>
         <p>
          Ce mastère suppose à l’évidence de solides connaissances en sciences humaines et sociales de manière générale et en sciences de gestion plus particulièrement.
          Ce mastère est destiné principalement aux étudiants provenant des licences appliquées ou fondamentales en Sciences de Gestion ou Sciences Économiques avec un background en information et communication appliqué à la gestion.
          La capacité d’accueil est fixée à 22 étudiants par promotion.

         </p>
         <ul class="list-unstyled list-style-icon list-icon-check my-4">
          <li>15% au moins seront réservés aux candidats d’autres établissements,</li>
          <li>Un seul redoublement est toléré pendant tout le cursus universitaire.</li>
         </ul>

        <h4>Objectifs</h4>
        <p>
          Les organisations publiques, notamment les collectivités territoriales, sont aujourd’hui, confrontées à une exigence de plus en plus forte d'optimisation de l'utilisation de leurs ressources tout en communiquant avec les parties prenantes, dans un contexte de plus en plus complexe.
         </p>

         <p>
          Le Master MGCT, qui réunit les notions de gouvernance et de communication, ouvre la perspective à la fois d’une possible promotion des cadres actuels et d’une professionnalisation dans des fonctions de conception et de management en gouvernance et communication territoriales. Il a pour objectif principal de former des étudiant(e)s, futurs cadres ou ingénieurs territoriaux, aux innovations nécessaires dans la conception, la conduite et la réalisation d’actions et de projets collectifs, de formes de concertation, de consultation et de participation avec et pour les citoyens. Les projets ambitieux et indispensables en termes de développement local, de lutte contre les disparités et inégalités régionales nécessitent des cadres de haut niveau aux compétences croisées entre stratégies et dispositifs gestionnaires et dispositifs sociotechniques d’information et de communication.
         </p>

         <p>
          Les former au plus près des réalités et des valeurs locales des territoires des régions permettra de penser en termes d’évaluation, de réorganisation des services et/ou de maîtrise des coûts des politiques publiques et sectorielles, mais aussi – et ceci constitue un enjeu essentiel – de soutenir les acteurs et décideurs locaux dans leurs conceptions et actions de préservation, de valorisation, de patrimonialisation, de développement touristique alternatif, d’écocitoyenneté pour mieux répondre aux besoins et demandes des citoyens.
         </p>

         <h4>Métiers et compétences visés</h4>
        <p>
          Les diplômés de ce Mastère peuvent être de jeunes étudiants ou des cadres en place en vue d’une promotion professionnelle.
         </p>
         <ul class="list-unstyled list-style-icon list-icon-check my-4">
           <span>Les métiers actuels et futurs visés :</span>
          <li>Développement, hébergement, administration et référencement de sites web</li>
          <li>Web marketing et e-commerce </li>
          <li>Community management et e-réputation</li>
          <li>Développement des applications mobiles et m-tourisme</li>
          <li>Création de contenus animés ou interactifs, communication et réalité augmentée</li>
          <li>Administration et sécurité des applications web et des réseaux</li>
         </ul>

         <ul class="list-unstyled list-style-icon list-icon-check my-4">
            <li>Ils seront très appréciés dans la profession en tant que cadre territorial opérationnel dans le secteur local ou dans le développement de méthodes d’ingénierie locale au sein d’une entité publique ou parapublique régionale ou de sociétés privées. Ils répondent aussi à un besoin exprimé de la part de la société civile ou des ONG…</li>
            <li>Ils peuvent ensuite s’insérer directement dans un service d’études et de recherche-développement tels que les universités, les organismes de développement et de recherche publics et privés, les services d'études économiques des administrations centrales (ministères...), les services d'étude des banques, des assurances et des grandes entreprises.</li>
            <li>Ces diplômés répondent aux exigences en matière de référentiels métier définis par les guides des ministères de la formation professionnelle et celui de l'enseignement supérieur et de la recherche scientifique en Tunisie et ailleurs tel que les métiers suivants :

              <ol>
                en Tunisie (ANETI)
                  <li><strong>K1204 :</strong><br/> Agent / Agente d'environnement de proximité<br/>
                    Agent / Agente de médiation dans l'espace public<br/>
                    Agent / Agente de médiation dans les services publics<br/>
                    Agent / Agente de médiation et de sécurité<br/>
                    Agent / Agente de prévention et de médiation sociale<br/>
                    Chargé / Chargée de médiation de santé publique<br/>
                    Chargé / Chargée de médiation interculturelle<br/>
                    Coordinateur / Coordinatrice d'équipes de médiation<br/>
                    Correspondant / Correspondante de quartier<br/>
                    Intervenant / Intervenante de proximité<br/>
                    Médiateur interculturel / Médiatrice interculturelle </li>
                <li><strong>K1404 :</strong><br/> Chargé / Chargée de mission aux relations internationales<br/>
                    Chargé / Chargée de mission développement régional<br/>
                    Chargé / Chargée de projet et de développement régional<br/>
                    Responsable des affaires générales, etc.<br/>
                    Responsable du secrétariat général<br/>
                    Responsable du service des assemblées<br/>
                    Secrétaire général / générale de municipalité </li>

              </ol>

            </li>

        </ul>

        <h4>Modalités de soumission de candidature</h4>
        <ul class="list-unstyled list-style-icon list-icon-check my-4">
          <li>Une première sélection sera faite par voie d’un concours sur dossier basée sur les critères suivants :
            <ul>
              <li>Les Moyennes obtenues durant les années d’études</li>
              <li>Les Mentions obtenues au cours des années d’études</li>
              <li>L’année d’obtention de la licence</li>
              <li>Formation(s) et stages suivie(s) et pré-requis techniques en correspondance avec le thème du mastère.</li>
              <li>Expérience professionnelle dans le domaine.</li>
            </ul>
          </li>
          <li>
            Puis, un entretien oral devant un jury de sélection composé d’universitaires et de professionnels pour choisir les candidats qui auront l’accès au mastère.
          </li>

        </ul>
       </div> <!-- END card-body-->
      </div> <!-- END card-->








      </div> <!-- END col-lg-9 -->

      <aside class="col-lg-3 mt-4">

       <div class="widget widget_search">
        <form action="#" method="POST">
          <div class="input-group">
            <input type="text" class="form-control border-0 pr-0 pl-3 u-py-15" placeholder="Search" required="">
            <button type="submit" class="input-group-btn btn bg-white">
              <span class="ti-search"></span>
            </button>
          </div>
        </form>
       </div> <!-- END widget-->

       <div class="widget">
         <h2 class="widget-title">
           Latest Post
         </h2>
           <div class="mb-4">
              <a href="#">
                <img src="assets/img/blog/recent/1.jpg" alt="">
              </a>
              <h2 class="font-size-16 mt-2">
                <a href="#">
                 Ultimate Web Designer &  Developer Course
                </a>
              </h2>
           </div>
           <div class="mb-4">
              <a href="#">
                <img src="assets/img/blog/recent/2.jpg" alt="">
              </a>
              <h2 class="font-size-16 mt-2">
                <a href="#">
                   Web UI UX Design using Adobe XD
                </a>
              </h2>
           </div>

           <div class="mb-4">
              <a href="#">
                <img src="assets/img/blog/recent/3.jpg" alt="">
              </a>
              <h2 class="font-size-16 mt-2">
                <a href="#">
                   Design in 2020
                </a>
              </h2>
           </div>
       </div> <!-- END widget-->

      <div class="widget">
         <h2 class="widget-title">
           Suivez-nous sur:
         </h2>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-facebook"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-twitter"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-linkedin"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-google"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-pinterest"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-instagram"></i>
          </a>
       </div> <!-- END widget-->

      </aside> <!-- END col-lg-3 -->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>  <!-- END section -->
