<div class="container padding-y-20" *ngIf="scrool">
  <div class="row">
    <div class="mx-auto">
      <mat-spinner mode="indeterminate">...</mat-spinner><h5>En chargement . . . Veuillez patienter, s'il vous plaît</h5>
    </div>
  </div>
</div>
<form class="bg-light" novalidate [formGroup]="bacForm" #fform="ngForm" (ngSubmit)="onSubmit()" *ngIf="!scrool" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="card shadow-v2 mt-2">
         <div class="card-header border-bottom pb-0 pt-0">
          <h4 class="mt-2">
            Ajouter votre BAC {{bacForm.value | json}}
          </h4>
         </div>
          <div class="card-body pb-2 pt-1">

            <div class="row"></div>

            <div class="row">
              <label class="col-md-5 pt-3">L'option du BAC</label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <mat-label *ngIf="!bacForm.get('option') && !formErrors.option">Le nom de la classe</mat-label>
                  <mat-label class="error" *ngIf="bacForm.get('option') && formErrors.option">{{formErrors.option}}</mat-label>
                  <input matInput placeholder="L'option du BAC" formControlName="option">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <label class="col-md-5 pt-3">Ecole d'origine</label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <mat-label *ngIf="!bacForm.get('ecole') && !formErrors.ecole">Ecole d'origine</mat-label>
                  <mat-label class="error" *ngIf="bacForm.get('ecole') && formErrors.ecole">{{formErrors.ecole}}</mat-label>
                  <input matInput placeholder="Ecole d'origine" formControlName="ecole">
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <label class="col-md-5 pt-3">La moyenne du BAC</label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <mat-label *ngIf="!bacForm.get('moyenne') && !formErrors.moyenne">La moyenne du BAC</mat-label>
                  <mat-label class="error" *ngIf="bacForm.get('moyenne') && formErrors.moyenne">{{formErrors.moyenne}}</mat-label>
                  <input matInput placeholder="La moyenne du BAC" formControlName="moyenne">
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <label class="col-md-5 pt-3">Année d'obtention du BAC</label>
              <div class="col-md-7">
                <mat-form-field class="example-full-width">
                  <mat-label *ngIf="!bacForm.get('annee') && !formErrors.annee">Année d'obtention du BAC</mat-label>
                  <mat-label class="error" *ngIf="bacForm.get('annee') && formErrors.annee">{{formErrors.annee}}</mat-label>
                  <input matInput placeholder="Année d'obtention du BAC" formControlName="annee" >
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <label class="col-md-5 pt-3">Télécharger le fichier</label>
              <div class="col-md-7">
                <!--<mat-form-field appearance="legacy">
                  <ngx-mat-file-input formControlName="url" placeholder="le fichier" ></ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field> -->
                <input type="file" name="file" (change)="fileChanged($event)" />

              </div>
            </div>

          </div>
        </div>
      </div>

    </div> <!-- END row-->
  </div> <!-- END container-->

  <div class="container">
    <div class="row">
      <button [disabled]="bacForm.invalid"  class="col-lg-4 btn btn-primary btn-sm mt-2 mb-3 offset-md-4" >Ajouter un rélévé</button>
    </div>
  </div>
</form>



