<!--<div *ngIf="!inscritMsg" class="container text-center alert alert-warning alert-dismissible fade show" role="alert">
  {{ inscritMsg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

</div>-->

<div *ngIf="!inscritMsg" class="container text-center">
  <button class="btn btn-primary" routerLink="/profile" >Suivre Mes Dossiers</button>
</div>


<section *ngIf="!inscritMsg">
<!--

  <div class="container">
   <div class="row">
     <div class="col-12">
      <ol class="breadcrumb breadcrumb-triangle breadcrumb-expand bg-transparent p-0 rounded-0">
        <li class="breadcrumb-item">
          <a routerLink="/home" > <i class="ti-home mr-1"></i> Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/about" > <i class="ti-settings mr-1"></i> Apropos</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/demande" > <i class="ti-layers mr-1"></i> Elements</a>
        </li>
        <li class="breadcrumb-item current">
          <a routerLink="/demande" > <i class="ti-book mr-1"></i> Demande de Candidature</a>
        </li>
      </ol>
     </div>
   </div>
  </div> -->

</section>

<section  class="wow fadeIn">
  <div class="container">

    <div class="row align-items-center">

     <div class="col-md-12 my-2">
      <form action="#" method="POST" class="px-lg-4 text-center">
        <div>
          <h2 class="mt-5">Selectionner un établissement</h2>
          <mat-form-field>
            <mat-label>Selectionner un établissement</mat-label>
            <mat-select>
              <mat-option
                  *ngFor="let etablissement of appelALaCandidaturesUnique; let index = index; let isFirst = first; let isOdd = odd;"
                          (click)="getUnEtablissement(index)" [value]='etablissement.nom' >
                <i class="fa fa-school"></i> &nbsp;&nbsp;
                <span > {{ etablissement.nom }} </span>
              </mat-option>

              <mat-option >
                <i class="fa fa-school"></i> &nbsp;&nbsp;
                <span> Autre </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>

     </div>
   </div> <!-- END row-->
  </div> <!-- END container-->
</section>

<section class="" *ngIf="etablissement != null" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4><span class="text-primary"> {{ etablissement.nom }} </span></h4>
      </div>
      <div class="col-12 mx-auto">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Libele</th>
                <th scope="col">Mention</th>
                <th scope="col">Domaine</th>
                <th>Année</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mastere of etablissement.masteres; let index=index">
                <th
                *ngIf="mastere.disponible==1" scope="row"> {{index+1}} </th>
                <th *ngIf="mastere.disponible==1"> {{ mastere.type.nom }} </th>
                <td *ngIf="mastere.disponible==1"> {{ mastere.libele }} </td>
                <td *ngIf="mastere.disponible==1"> {{ mastere.mention.nom }} </td>
                <td *ngIf="mastere.disponible==1"> {{ mastere.mention.domaine.libelle }} </td>
                <td *ngIf="mastere.disponible==1">
                  {{ getAnneeByMasetereId(mastere.id).anneeUniversitaire }}
                </td>
                <th *ngIf="mastere.disponible==1">
                  <button
                    class="btn btn-info"
                    (click)="inscrireMastere(mastere.id, etudiant.id, getAnneeByMasetereId(mastere.id).anneeUniversitaire)"
                    routerLink="/profile"> s'inscrire au mastère</button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END section-->

<div class="mb-5"></div>

<div *ngIf="etabErrMess">
  <h2>Error</h2>
  <h4>{{etabErrMess}}</h4>
</div>
<div *ngIf="etudError">
  <h2>Error</h2>
  <h4>{{etudError}}</h4>
</div>
