<!-- image d'accueil -->
<section  class="height-90vh py-2 flex-center jarallax" data-dark-overlay="4" style="background:url(assets/img/1920x800/10.jpg); background-size: 100%">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-white mt-0">
        <div class="lead wow slideInUp">
          <span class="text-primary">Bienvenue à l'espace des mastères de l'ISET Djerba.<br>
          Veuillez découvrir:</span><br>
          <ul class="">
            <li *ngFor="let m of masteres" class="m-2">
              <table>
                <tr>
                  <td> {{m.libele}} </td>
                  <td>

                    <button [ngSwitch]="m.libele" class="btn btn-outline-info btn-sm">
                      <span
                      *ngSwitchCase="'TIC et Innovation Touristique'" routerLink="/ticit">Détail</span>
                      <span
                      *ngSwitchCase="'Gouvernance et Communication Territoriales (MGCT)'"
                      routerLink="/mgct"> Détail </span>
                      <span
                      routerLink="/demarche"
                      *ngSwitchCase="'Management Industriel des Equipements Hôteliers (MIEH)'"> Détail </span>
                   </button>

                    &nbsp;
                    <div class="btn btn-outline-primary btn-sm"
                    (click)="inscrireMastere(m.id, etudiant.id, getAnneeByMasetereId(7).anneeUniversitaire)"
                    *ngIf="etudiant != null"
                    > S'inscrire</div>
                    <div class="btn btn-outline-primary btn-sm" *ngIf="etudiant == null"
                    (click)="authenticationService.onLogin()"
                    > S'inscrire</div>
                  </td>
                </tr>
              </table>
            </li>

          </ul>
          <h4 class="text-primary">Démarche à suivre</h4>
          <ol>
            <li>Découvrez nos mastères</li>
            <li>Faites votre inscription au niveau d'un mastère  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li>Remplissez les formulaires demandés pour la candidature de votre mastère</li>
            <li>Postuler votre candidature</li>
            <li>Veuillez suivre votre candidature</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Affichage des differents programme de master -->
<!--section class="padding-y-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row align-items-center">
          <div class="col-md-6 my-5">
           <div class="position-relative">
            <img class="rounded w-100" src="assets/img/1920x800/4.jpg" height="300" alt="">
            <a href="#" data-fancybox class="iconbox iconbox-lg bg-white position-absolute absolute-center">
              <i class="ti-control-play text-primary"></i>
            </a>
           </div>
          </div>
          <div class="col-md-6 mt-4">
            <h2>
              <small class="d-block text-gray">Bienvennue à</small>
               <span class="text-primary">l'ISET Djerba</span>
            </h2>
            <p class="my-4">
              L'ISET de Djerba (Tunisie) est un institut supérieur qui assure une formation supérieure technologique en génie mécanique, technologies de l'informatique, génie électrique, sciences économiques et gestion, administration des affaires, webmastering et référencement, hôtellerie et tourisme, mécatronique automobile
            </p>
            <a href="#" class="btn btn-outline-primary">
              Détail
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-5 mt-md-0">
        <div class="card shadow-v2 z-index-5" data-offset-top-xl="-160">
          <div class="card-header bg-primary text-white border-bottom-0">
            <span class="lead font-semiBold text-uppercase">
              TABLEAU D'AFFICHAGE
            </span>
          </div>

          <div class="p-4 border-bottom wow fadeInUp">
            <p class="text-primary mb-1">
              July 02, 2018
            </p>
            <a href="#">
             	Les programmes des differents masters
            </a>
          </div>
          <div class="p-4">
            <a href="#" class="btn btn-link pl-0">
              Afficher Tous les Avis
            </a>
          </div>
        </div>
      </div>
    </div> <!-- END row
  </div> <!-- END container
</section-->


<!-- les évènements -->


<!--section class="padding-y-100 bg-light-v5">
  <div class="container">
    <div class="row">

      <div class="col-12 text-center mb-4">
        <h2 class="mb-4">
          évènements à venir
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".1s">
        <div class="card shadow-v1">
          <div class="padding-40 border-bottom">
            <a href="#" class="h4">
              Open Schools for Open Societies 2018
            </a>
          </div>
          <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
            <li>
               <i class="ti-time mr-2 text-primary"></i>
               April 13, 2018 @ 8:00 am
            </li>
            <li>
               <i class="ti-location-pin mr-2 text-primary"></i>
               184 Main Collins Street
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- END row
  </div> <!-- END container
  </section-->


<!--section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 bg-cover bg-center text-white padding-y-80" style="background:url(assets/img/960x560/1.jpg) no-repeat">
        <div class="padding-x-lg-100 wow pulse">
          <h2 class="text-white mb-4">
            Admission Open for 2018
          </h2>
          <p>
            Investig ationes demons travge vunt lectores legere lrus quodk legunt saepius claritas est cnsectetur adip sicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Consectetur adipi sicing.
          </p>
          <a href="#" class="btn btn-white mt-4">Apply now</a>
        </div>
      </div>
      <div class="col-md-6 bg-cover bg-center text-white padding-y-80" style="background:url(assets/img/960x560/2.jpg) no-repeat">
        <div class="padding-x-lg-100 wow pulse">
          <h2 class="text-white mb-4">
            Orientation des étudiants 2020
          </h2>
          <p>
            Investig ationes demons travge vunt lectores legere lrus quodk legunt saepius claritas est cnsectetur adip sicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Consectetur adipi sicing.
          </p>
          <a href="#" class="btn btn-white mt-4">Apply now</a>
        </div>
      </div>
    </div>
  </div> <!-- END container
</section -->
