<div class="container">
  <div class="row">

    <div class="col-lg-12 mt-5">
      <div class="d-md-flex justify-content-between align-items-center bg-white shadow-v1 rounded mb-4 py-4 px-5 hover:transformLeft">
        <table class="table table-bordered" >
          <thead>
            <tr>
              <th>ID</th>
              <th>titre</th>
              <th>Plateforme</th>
              <th>Durée</th>
              <td>Justificatif</td>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let formation of etudiant.formations; let i = index">
              <td> {{ formation.id }} </td>
              <td> {{ formation.titre }} </td>
              <td> {{ formation.plateforme }} </td>
              <td> {{ formation.duree +' ' + formation.typeDuree }} </td>
              <td class="text-center">
                <button class="btn btn-info btn-sm" (click)="openDialog(formation.file)" ><i class="far fa-eye fa-sm"></i></button>
              </td>
              <td style="width: 160px;">
               <button class="btn btn-primary btn-sm"><a  [routerLink]="['/update-formation', formation.id]" ><i class="ti-pencil"></i></a></button>
                &nbsp;<button class="btn btn-danger btn-sm" (click)="getFormationModal(formation.id)" data-toggle="modal" data-target="#supprimerDiplomeModal"><a ><i class="ti-cut"></i></a></button>
              </td>
            </tr>
            <tr class="text-center">
              <td colspan="6">
                <button class="btn btn-success btn-sm"  ><a routerLink="/add-formation">Ajouter une Formation</a></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal  de suppression d'une Diplôme-->
<div class="modal fade m-0" id="supprimerDiplomeModal"  role="dialog" aria-labelledby="supprimerDiplomeModal" *ngIf="modalFormation != null" >
  <div class="modal-dialog" role="document">
    <div class="modal-content m-0">
      <div class="modal-body m-0">
          <div class="alert alert-danger m-1" role="alert" >
                 Etes-vous sûr de bien vouloir supprimer <br>
                le Diplôme <strong>{{ modalFormation.titre }}</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container padding-y-20" *ngIf="scrool">
          <div class="row">
            <div class="mx-auto">
              <mat-spinner mode="indeterminate">...</mat-spinner><h5>En chargement . . . Veuillez patienter, s'il vous plaît</h5>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button data-dismiss="modal" (click)="deleteFormation(modalFormation.id, etudiant.id)" class="btn btn-success btn-sm">OK</button>&nbsp;
          <button class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>
