<section class="pt-2 paddingBottom-50 bg-light-v2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mt-4">
      <div class="card">
        <div class="card-body">
         <h2 class="my-2">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Appel à candidature
         </h2>
         <h4>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Inscription en Mastère professionnel co-construit en TICIT<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          « TIC et Innovation Touristique »
         </h4>
         <p>
          L’Institut Supérieur des Etudes Technologiques de Djerba lance un appel à candidature pour
          l’inscription en Mastère Professionnel Co-construit en TICIT « TIC (Technologies de l’Information
          et de Communication) et Innovation Touristique » au titre de l’année universitaire 2019-2020.
         </p>
         <h4>Publics visés</h4>
         <ul class="list-unstyled list-style-icon list-icon-check my-4">
            <li>Licence appliquée en informatique dans le système LMD ou diplôme équivalent. </li>
            <li>Licence fondamentale en informatique dans le système LMD ou diplôme équivalent. </li>
            <li>Maîtrise en informatique ou diplôme équivalent.</li>
            <li>Diplôme national d’ingénieur en informatique ou diplôme équivalent.</li>
         </ul>
         <div>
          Il est à noter que la capacité d’accueil est estimée à 20 dont :
         </div>
         <ul class="list-unstyled list-style-icon list-icon-check my-4">
          <li>	15% au moins seront réservés aux candidats d’autres établissements (ne provenant pas de l’ISET Djerba).</li>
          <li>	Un seul redoublement est toléré pendant tout le cursus universitaire</li>
        </ul>
        <h4>Objectifs</h4>
        <p>
          Les titulaires de ce mastère TICIT doivent être capables de contribuer à la conception, le développement et la mise en œuvre de systèmes informatiques basés sur les nouvelles technologies de l’information et de communication au profit du secteur du tourisme permettant d’innover ce secteur et apporter de nouveaux créneaux porteurs.
          L’exploitation des nouvelles tendances des technologies de l’information et de la communication au service du secteur du tourisme se traduit principalement, au niveau de cette formation, dans les
         </p>
         <ul class="list-unstyled list-style-icon list-icon-check my-4">
          <li>Développement, hébergement, administration et référencement de sites web</li>
          <li>Web marketing et e-commerce </li>
          <li>Community management et e-réputation</li>
          <li>Développement des applications mobiles et m-tourisme</li>
          <li>Création de contenus animés ou interactifs, communication et réalité augmentée</li>
          <li>Administration et sécurité des applications web et des réseaux</li>
         </ul>
         <h5>Secteurs d’activités :</h5>
         <ul class="list-unstyled list-style-icon list-icon-check my-4">
            <li>Entreprises publiques et organismes institutionnels du secteur du Tourisme (office de tourisme, commissariat de tourisme, syndicat de tourisme, fédérations, centre de formation touristique, communes, …)</li>
            <li>Unités hôtelières et établissements d’hébergement (groupes hôteliers, hôtels, maisons d’hôtes, …)</li>
            <li>Etablissements prestataires de services touristiques (tours opérateurs, agences de voyages, restaurants touristiques, organisateurs de voyages et d’évènements touristiques, agences de location de véhicules touristiques, …)</li>
            <li>Sociétés de développement et prestataires privés d’e-Tourisme (agences de voyage en ligne, prestataires de services Web...)</li>
            <li>Autres établissements privés du secteur du tourisme (parcs d'attractions, musées, sites naturels ou culturels, hôtellerie de plein air...)</li>
         </ul>

         <h4>Métiers et compétences visés</h4>
        <p>
          Face aux avancées technologiques qui ne cessent d’augmenter et à l’évolution rapide des activités de commercialisation des produits touristiques, ce mastère professionnel vise à former de futurs hauts cadres justifiant
          de compétences aussi bien en maitrise des outils TIC qu’en marketing et innovation touristique.
         </p>
         <ul class="list-unstyled list-style-icon list-icon-check my-4">
           <span>Les métiers actuels et futurs visés :</span>
          <li>Développement, hébergement, administration et référencement de sites web</li>
          <li>Web marketing et e-commerce </li>
          <li>Community management et e-réputation</li>
          <li>Développement des applications mobiles et m-tourisme</li>
          <li>Création de contenus animés ou interactifs, communication et réalité augmentée</li>
          <li>Administration et sécurité des applications web et des réseaux</li>
         </ul>

         <ul class="list-unstyled list-style-icon list-icon-check my-4">
          <span>A la fin de la formation, l'étudiant de ce mastère devrait être capable de :</span>
          <li>Optimiser un contenu Web pour le référencement.</li>
          <li>Optimiser les applications mobiles pour le référencement.</li>
          <li>Produire des contenus rédactionnels adaptés au Web.</li>
          <li>Recueillir les informations et les échanges entre internautes et les capitaliser par thèmes, typologie.</li>
          <li>Surveiller/modérer les contenus diffusés sur les forums, les blogs, les commentaires et les réseaux sociaux et garantir une bonne qualité de discussion.</li>
          <li>Construire une réputation électronique d’une marque commerciale.</li>
          <li>Fidéliser une clientèle en s'appuyant sur les dernières avancées du Web.</li>
          <li>Assurer une relation client via les technologies numériques</li>
          <li>Réaliser des rapports et statistiques sur le trafic d’un site Web.</li>
          <li>Gérer les comptes sur les logiciels « Web analytique ».</li>
          <li>Anticiper les tendances du secteur, détecter les opportunités et les risques.</li>
        </ul>

        <h4>Modalités de soumission de candidature</h4>
        <ul class="list-unstyled list-style-icon list-icon-check my-4">
          <li>Une première sélection sera faite par voie d’un concours sur dossier basée sur les critères suivants :
            <ul>
              <li>Moyennes obtenues durant le baccalauréat et pendant le cursus universitaire</li>
              <li>Parcours et cursus universitaire</li>
              <li>Formation(s) et stages suivie(s) et pré-requis techniques en correspondance avec le thème du mastère (Les TIC, le secteur du tourisme, …).</li>
            </ul>
          </li>
          <li>
            Puis, un entretien oral devant un jury de sélection composé d’universitaires et de professionnels pour choisir les candidats qui auront l’accès au mastère.
          </li>

        </ul>
       </div> <!-- END card-body-->
      </div> <!-- END card-->








      </div> <!-- END col-lg-9 -->

      <aside class="col-lg-3 mt-4">

       <div class="widget widget_search">
        <form action="#" method="POST">
          <div class="input-group">
            <input type="text" class="form-control border-0 pr-0 pl-3 u-py-15" placeholder="Search" required="">
            <button type="submit" class="input-group-btn btn bg-white">
              <span class="ti-search"></span>
            </button>
          </div>
        </form>
       </div> <!-- END widget-->

       <div class="widget">
         <h2 class="widget-title">
           Latest Post
         </h2>
           <div class="mb-4">
              <a href="#">
                <img src="assets/img/blog/recent/1.jpg" alt="">
              </a>
              <h2 class="font-size-16 mt-2">
                <a href="#">
                 Ultimate Web Designer &  Developer Course
                </a>
              </h2>
           </div>
           <div class="mb-4">
              <a href="#">
                <img src="assets/img/blog/recent/2.jpg" alt="">
              </a>
              <h2 class="font-size-16 mt-2">
                <a href="#">
                   Web UI UX Design using Adobe XD
                </a>
              </h2>
           </div>

           <div class="mb-4">
              <a href="#">
                <img src="assets/img/blog/recent/3.jpg" alt="">
              </a>
              <h2 class="font-size-16 mt-2">
                <a href="#">
                   Design in 2020
                </a>
              </h2>
           </div>
       </div> <!-- END widget-->

      <div class="widget">
         <h2 class="widget-title">
           Suivez-nous sur:
         </h2>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-facebook"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-twitter"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-linkedin"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-google"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-pinterest"></i>
          </a>
          <a href="#" class="btn btn-light iconbox hover:bg-primary text-gray m-1">
            <i class="ti-instagram"></i>
          </a>
       </div> <!-- END widget-->

      </aside> <!-- END col-lg-3 -->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>  <!-- END section -->
